<div class="orders-show">
  <div class="container">
    <div class-"invoice">
      <div class="invoice-header">
        <p class="logo"><i class="fas fa-camera-retro"></i> Paola Frann</p>
      </div>
      <div class="invoice-part-1">
      
        <div class='address'>
          <p><strong>Paola Frann</strong></p>
          <p>London</p>
          <p>United Kingdom</p>
          <p>Phone: +44 xxxxx-xxxxx</p>
          <p>Email: paolafrann@paolafrann.com</p>
        </div>

        <div class='invoice-details'>
          <div class='invoice-detail'>
            <p class="highlight-text">Invoice number: </p>
            <p><%= @order.id %></p>
          </div>

          <div class='invoice-detail'>
            <p class="highlight-text">Invoice date: </p>
            <p><%= @order.created_at.strftime("%d/%m/%Y") %></p>
          </div>

          <div class='invoice-detail'>
            <p class="highlight-text">Payment status: </p>
            <p><%= @order.state %></p>
          </div>
        </div>
      </div>

      <div class="invoice-part-2">

      </div>

    </div>
  </div>
</div>