.book-index, .book-show, .payment-new {
    min-height:100vh;
    padding-top: 100px;
    h1 {
        margin-bottom: 30px;
    }
}
.book-index {
    background-color: $areia;
}
.book-show {
    background-color: $newgray;
    p {
        font-size: 20px;
    }
    img {
        border-radius: 10px;
    }
}
.description {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-radius: 10px;
}
.description-text, .booking-info {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 20px;
}

.book-title, .show-title {
    text-align: center;
}
.main-img, .small-images  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.main-body{
    position: relative;
  }
