.btn-banner {
    background-color: rgba(189, 102, 88, 1);
    padding: 15px 45px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    margin: 50px;

    &:hover {
        color:white;
        text-decoration: none;
        background-color: rgba(189, 102, 88, .71);
    }
}