#map {
  border-radius: 10px;
}
.mapboxgl-popup {
    max-width: 200px;
  }
  
  .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .suggestions li {
    font-size: 12px;
  }


  .studio-search {
    display: flex;
  }
  .studio-search-result {
    padding: 30px;
    width:100%;
  }

  .search-bar {
    border-radius: 10px;
  }