.navbar-lewagon {
  justify-content: space-between;
  background: #964a3f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.logo, li {
  font-size: 25px;
}

i {
  font-size: 30px;
}
